<%- include('../partials/header',{title: "Add Voucher"}) %>

<body>
    <div class="dashboard-main-wrapper">
        <div class="dashboard-wrapper">
            <div class="container-fluid dashboard-content"><div class="row">
                <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <h3 class="card-header">Edit Campaign</h3>
                        <div class="card-body">
                            <form action="" method="POST">
                                <div class="form-group">
                                    <label class="col-form-label">Nama</label>
                                    <input id="inputText3" type="text" class="form-control" name="name" value=<%=borrower.name%>>
                                </div>
                                <div class="form-group">
                                    <label for="inputNumber4" class="col-form-label">Jumlah Pinjaman</label>
                                    <input id="inputNumber4" type="number" class="form-control" name="borrowedMoney" value=<%=borrower.BorrowedMoney%>>
                                </div>
                                <div class="form-group">
                                    <label for="inputNumber4" class="col-form-label">Lama Meminjam(dalam bulan)</label>
                                    <input id="inputNumber4" type="number" class="form-control" name="deadline" value=<%=borrower.deadline%>>
                                </div>
                                <div class="form-group">
                                    <label for="inputNumber4" class="col-form-label">Bunga</label>
                                    <input id="inputNumber4" type="number" class="form-control" name="bunga" value=<%=borrower.bunga%>>
                                </div>
                                <div class="form-group">
                                    <label for="inputNumber4" class="col-form-label">Batas pengumpulan</label>
                                    <input id="inputNumber4" type="date" class="form-control" name="target" value=<%=borrower.batasKumpul%>>
                                </div>
                                <div class="form-group">
                                    <input id="submit" type="submit" value="Submit" class="form-control bg-primary">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <%- include('../partials/footer_bs') %>
        </div>
    
    </div>
    
    <%- include('../partials/optional') %>
</body>            